@{
    ViewData["Title"] = "Inicio";
}

@section Scripts {
    <script src="~/dist/index.bundle.js" asp-append-version="true"></script>
}

<br /><br /><br /><br />

<div id="model">
    Nombre   <input type="text" data-bind="value: firstname.value" /> <br/>
    Apellido <input type="text" data-bind="value: lastname.value" />  <br/>

    <span data-bind="text: firstname.value"></span>
    <span data-bind="text: lastname.value"></span>

</div>
